<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/884dceafcb.js" crossorigin="anonymous"></script>
    <title>Results</title>
</head>

<body>

  <div class="topnav">
    
</div>
<div class="head">
    <h1 class="head1"><a  href="/">CYBERSECURITY</a></h1>
    <p class="welcome">Continuous Learning</p>
</div><br>
<p>The following should be done to improve through learning:</p>
<ol>
    <% for(let j = 0; j < model.length; j++) { %>
        <li class="reg_report">
            <p class="reg_name"><%=model[j]%></p>
        </li>
        <% } %>
    
    </ol><br>

<a href="/experiential_learning"><button class="button">Experiental Learning</button></a>

</body>
</html>