<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/884dceafcb.js" crossorigin="anonymous"></script>
    <title>Dash</title>
</head>

<body>
    <div class="topnav">
        <a class = "active" href="/"><i class="fas fa-home"></i> Home</a>
        <a href="/home"><i class="fas fa-pen"></i> Assessments</a>
        <a href="/index"><i class="fas fa-users"></i> Teams</a>
    </div>
    <div class="head">
        <h1 ><a id="header" href="/">CYBER SECURITY</a></h1>
        <p id="enter">Welcome to the Skills gap analyser!</p>
        <script>
            document.write(Date());
        </script>
    </div><br><br><br>
    


    <a href="/home"><button class="button"><i class="fas fa-pen"></i> Assessments</button></a><br><br>

    <a href="/index"><button class="button"><i class="fas fa-users"></i> Teams</button></a>

</body>
</html>