<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/884dceafcb.js" crossorigin="anonymous"></script>
</head>


<body>

    <div class="topnav">
        <a class="parent" href="/"><i class="fas fa-home"></i> Home</a>
        <a href="/home" class = "active"><i class="fas fa-pen"></i> Assessments</a>
        <a href="/index"><i class="fas fa-users"></i> Teams</a>
    </div>
    <div class="head">
        <h1 ><a id="header" href="/">CYBER SECURITY</a></h1>
        <p id="enter">Welcome to the Skills gap analyser!</p>
        <script>
            document.write(Date());
        </script>
    </div><br><br><br>


    <div>
        <form method="GET" action="/sign_up">
            <button class="button" type="submit"><i class="fas fa-user"></i> Individual Assessment</button>
        </form><br><br>

        <form method="GET" action="/team_assessment">
            <button class="button" type="submit"><i class="fas fa-users-cog"></i> Team Assessment</button>
        </form><br><br>

        <a href="/create_a_team" id = "link">Create your own team</a>
    </div>
</body>
</html>