<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/884dceafcb.js" crossorigin="anonymous"></script>
    <title>Results</title>
</head>

<body>

  <div class="topnav">
    <p class="progress"><i class="fas fa-tasks"></i> Progress</p>
    <p><i class="fas fa-check-double"></i>Knowledge</p>
    <p><i class="fas fa-check-double"></i>Skill</p>
    <p><i class="fas fa-check-double"></i>Abilty</p>
    <p class="active"><i class="fas fa-poll"></i> Results</p>
</div>
<div class="head">
    <h1 ><a id="header" href="/">CYBERSECURITY</a></h1>
    <p id="enter">Results</p>
</div><br><br>

<ul>
    <% for(let i = 0; i < model.length; i++) { %>
        <li class="reg_report">
            <p class="reg_name"><%=model[i]%> <%=model1[i]%>%</p>
        </li>
        <% } %>
</ul>
</body>
</html>